*.zip
doc/*.txt
# doc/APPORT DE MAPBOX.MD
# doc/DETAILS SUR MAPBOX DANS LE PROJET.MD
notes.txt
temp/
build/
*.log
__pycache__/
*.pyc
.env
.vscode/
.idea/
.DS_Store
gates
gates.pub

# firebase-service-account.json
# *-firebase-adminsdk-*.json
